body {
	background-color: #34314c;
	color : #47b8e0;
	font-family: "Open Sans", "Sans Serif";
	}

.container {
	width: 400px;
	margin: 50px auto;
	color : #47b8e0;
}

.inputError {
	border : 1px solid red;
}

.overlay > p {
	font-size: 100pt;
}

.column {
	display: inline-block;
	width: 100px;
}

input {
	border: 1px solid #47b8e0 ;
	background-color: none;
	appearance: none;
}

#ff7473
#fff

#9055A2;
#D499B9;
