body {
	background-color: #34314c;
	color : #47b8e0;
	}

#container {
	margin-top: 50px;
	font-family: "Open Sans", "Sans Serif";
}

.inputError {
	border : 1px solid red;
}

.overlay > p {
	font-size: 100pt;
}



#ff7473
#fff

#9055A2;
#D499B9;
